@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Inventory Your Books</h2>
        <p>
            Keep track of what books you own and where they are so you can find them more easily.
        </p>
        <p> @Html.ActionLink("Go To Books", "Index", "Books", new { area = "" }, new { @class = "btn btn-default btn-primary" })  </p>
    </div>
    <div class="col-md-4">
        <h2>Add A Book</h2>
        <p>
            Add a book to your collection. This is a filler sentence to make this paragraph larger. And another sentence.
        </p>
        <p> @Html.ActionLink("Add A Book", "Create", "Books", new { area = "" }, new { @class = "btn btn-default btn-primary" })  </p>
    </div>
    <div class="col-md-4">
        <h2>Another Feature</h2>
        <p>
            This is a paragraph describing another feature included in the My Library book inventory app.
        </p>
        <p> @Html.ActionLink("Another Feature", "Index", "Home", new { area = "" }, new { @class = "btn btn-default btn-primary" })  </p>
    </div>
</div>